# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables and secrets
.env

# IDE files
.vscode/
.idea/

# Data and generated artifacts
# data/raw/*.csv
data/processed/*
models/*
reports/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!reports/.gitkeep